<% include partials/header.ejs%>

<div class="container">
    <div class="jumbotron text-center" style="margin-top:0px ;padding:5px;background-color:transparent; color:white">
         <h1><%= user.team[0].Teamname%> </h1>
    
    </div>
   
    <a class="btn btn-lg btn-warning" href="/yourteam/<%=user.team[0]._id %>/edit">Edit Squad</a>
    <h2 class="text-right"style="color:white;">Score:<%=Number(Pla1.score)+ Number(Pla2.score)+Number(Pla3.score)+Number(Pla4.score)+Number(Pla5.score)+Number(Pla6.score)+Number(Pla7.score)+Number(Pla8.score)+Number(Pla9.score)+Number(Pla10.score)+Number(Pla11.score) %></h2>
   <div class="row"style="margin:5% 40%;width:20%;">
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 thumbnail" style="margin:5px 0">  
         <img src=<%=Pla11.image%> >
       <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player11 %></strong></h3>
           
        </div>
         <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px"> <h3><%=Pla11.score%></h3> </div>

</div>
    </div>
        <div class="row"style="margin:5% 50px;">
            <div class="col-lg-3 col-md-3  col-sm-3 col-xs-3 thumbnail" style="margin:5px 0;">
        <img src=<%=Pla1.image%> >
        <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player1%></strong></h3>
            
        </div><div class="caption text-center" style="background:rgb(206, 213, 226);height:55px;padding:2px"><h3><%=Pla1.score%></h3></div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumbnail" style="margin:5px 0" > 
              <img src=<%=Pla2.image%> >
        <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player2%></strong></h3>
            
        </div><div class="caption text-center"  style="background:rgb(206, 213, 226);height:55px;padding:2px"><h3><%=Pla2.score%></h3></div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumbnail" style="margin:5px 0"> 
                <img src=<%=Pla3.image%> >
               <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
                <h3><strong><%=user.team[0].Player3%></strong></h3>
                
                </div>
                <div class="caption text-center" style="background:rgb(206, 213, 226);height:55px;padding:2px"> <h3><%=Pla3.score%></h3>  </div>
             </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumbnail" style="margin:5px 0"> 
              <img src=<%=Pla4.image%> >
           <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
                <h3><strong><%=user.team[0].Player4%></strong></h3>
                
                </div><div class="caption text-center" style="background:rgb(206, 213, 226);height:55px;padding:2px"><h3><%=Pla4.score%></h3></div>
            </div>
        
    </div>
   <div class="row"style="margin:5% 140px;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 thumbnail" style="margin:5px 0">
             <img src=<%=Pla5.image%> >
             <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
    
            <h3><strong><%=user.team[0].Player5%></strong></h3>
            
            
       </div> 
           <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px"><h3><%=Pla5.score%></h3></div>
        </div>
         <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 thumbnail" style="margin:5px 0"> 
          <img src=<%=Pla6.image%> >
          <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
       
            <h3><strong><%=user.team[0].Player6%></strong></h3>
            
            
        </div>
          <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px">  <h3><%=Pla6.score%></h3></div>
         </div>
         <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 thumbnail" style="margin:5px 0"> 
          <img src=<%=Pla7.image%> >
      <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player7%></strong></h3>
           
        </div>
            <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px">  <h3><%=Pla7.score%></h3></div>
         </div>
         
        
    </div>
    
    <div class="row"style="margin:5% 140px;">
        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 thumbnail" style="margin:5px 0"> 
         <img src=<%=Pla8.image%> >
        <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player8%></strong></h3>
            
        </div> <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px"> <h3><%=Pla8.score%></h3></div>
        </div>
         <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 thumbnail" style="margin:5px 0"> 
          <img src=<%=Pla9.image%> >
        <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player9%></strong></h3>
            
        </div>
        <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px"><h3><%=Pla9.score%></h3></div>
         </div>
         <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 thumbnail" style="margin:5px 0">
              <img src=<%=Pla10.image%> >
        <div class="caption text-center"style="background:rgb(146, 154, 168);color:black;height:55px;padding:2px">
            <h3><strong><%=user.team[0].Player10%></strong></h3>
           
        </div> <div class="caption text-center"style="background:rgb(206, 213, 226);height:55px;padding:2px"> <h3><%=Pla10.score%></h3></div>
         </div>
         
        
    </div>
    
    </div>
    
    
<% include partials/footer.ejs%>